<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>

    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
    <title>Home</title>
</head>
<body>
<div id="map"></div>
<footer class="footer">
    <div class="container">
    </div>
</footer>
<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 48.86397965515107, lng: 2.335599603893845},
            zoom: 14
        });
        var markers = [];

        // Try HTML5 geolocation.
//        if (navigator.geolocation) {
//            navigator.geolocation.getCurrentPosition(function (position) {
//                var pos = {
//                    lat: position.coords.latitude,
//                    lng: position.coords.longitude
//                };
//                map.setCenter(pos);
//            });
//        }

        $.ajax({
            type: "GET",
            url: "/stations/district/1",
            dataType: 'json',
            success: function (data) {
                markers.forEach(function (marker) {
                    marker.setMap(null);
                });
                markers = [];

                data.forEach(function (place) {
                    var info = new google.maps.InfoWindow(),
                        icon = {
                            url: "/images/velib-marker.png",
                            scaledSize: new google.maps.Size(38, 38),
                            origin: new google.maps.Point(0, 0),
                            anchor: new google.maps.Point(0, 0)
                        },
                        marker = new google.maps.Marker({
                            map: map,
                            title: place.name,
                            icon: icon,
                            position: new google.maps.LatLng(parseFloat(place.location.coordinates[1]), parseFloat(place.location.coordinates[0]))
                        });

                    marker.number = place.number;

                    console.log(place);

                    marker.addListener('click', function () {
                        $.ajax({
                            type: "GET",
                            url: "/stations/station/" + marker.number,
                            dataType: 'json',
                            success: function (data) {
                                info.setPosition(marker.position);
                                info.setContent([
                                        '<strong>address: </strong>' + data.address,
                                        '<strong>banking: </strong>' + data.banking,
                                        '<strong>status: </strong>' + data.status,
                                        '<strong>bike_stands: </strong>' + data.bike_stands,
                                        '<strong>available_bike_stands: </strong>' + data.available_bike_stands,
                                        '<strong>available_bikes: </strong>' + data.available_bikes,
                                        '<strong>last_update: </strong>' + data.last_update
                                    ].join('<br/>')
                                );

                                info.open(map, marker);
                            },
                            error: function (response) {
                                console.log(response);
                            }
                        });
                    });

                    markers.push(marker);
                });
            },
            error: function (response) {
                console.log(response);
            }
        });
    }
</script>
<script src="webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="webjars/tether/1.3.7/dist/js/tether.min.js"
        th:src="@{/webjars/tether/1.3.7/dist/js/tether.min.js}"></script>
<script src="webjars/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4yvBrfQ4S6pHc3itNV-X4jIbTPflXRiU&amp;libraries=places&amp;callback=initMap">
</script>
</body>
</html>