<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>

    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
    <title>Home</title>
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="settingsModalLabel">Settings</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="input-group">
                            <label for="weight" class="input-group-addon">Weight: </label>
                            <input id="weight" type="text" class="form-control" placeholder="Your weight in Kg"/>
                            <span class="input-group-addon">Kg</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <div class="input-group">
                            <label for="intensity" class="input-group-addon">Intensity: </label>
                            <select id="intensity" name="intensity" class="form-control">
                                <option value="4">Soft</option>
                                <option value="7">Average</option>
                                <option value="10">Intense</option>
                                <option value="14">Very intense</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="save" type="button" data-dismiss="modal" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="alert" class="alert alert-warning collapse">
    <strong>Warning!</strong> <span id="message"></span>
</div>

<!-- Side nav -->
<div id="menu" class="sidenav">
    <a href="javascript:void(0)" class="closeBtn">&times;</a>
    <a href="#">Direction</a>
    <a href="#">Favorites</a>
    <a href="#settingsModal" data-toggle="modal">Settings</a>
    <form id="disconnectionForm" th:action="@{/logout}" method="post">
        <a id="disconnection" href="#">Disconnection</a>
    </form>
</div>

<!-- Directions -->
<div id="directions" style="visibility: hidden">
    <div class="header" style="display: none;">
        <p>
            <span>Distance: <strong id="distance"></strong></span> <br/>
            <span>Duration: <strong id="duration"></strong></span> <br/>
            <span>Calories: <strong id="calories"></strong></span> <br/>
            <span>CO2 emission: <strong id="emission"></strong></span> <br/>
        </p>
    </div>
    <div class="content" style="display: none;">
        <table id="directionTable" class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Distance</th>
                <th>Instruction</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Menu button -->
<span id="menuBtn" style="visibility: hidden">&#9776;</span>

<!-- Map -->
<div id="map"></div>

<!-- Social media buttons -->
<footer id="footer">
    <div class="g-plusone" data-annotation="none"></div>
</footer>

<script src="webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="webjars/tether/1.3.7/dist/js/tether.min.js"
        th:src="@{/webjars/tether/1.3.7/dist/js/tether.min.js}"></script>
<script src="webjars/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js}"></script>
<script src="js/home.js" th:src="@{/js/home.js}"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://apis.google.com/js/platform.js" th:async="async" th:defer="defer"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4yvBrfQ4S6pHc3itNV-X4jIbTPflXRiU&amp;libraries=geometry,places"
        async="async" defer="defer">
</script>
</body>
</html>