<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title tiles:fragment="title">Registration</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <div tiles:fragment="content">
        <form name="f" th:action="@{/registration}" th:object="${userForm}" method="post">
            <div class="form-group row">
                <fieldset>
                    <legend>Registration</legend>
                    <label for="username">Username</label>:
                    <input type="text" id="username" name="username" class="form-control" autofocus="autofocus"/> <br/>
                    <label for="password">Password</label>:
                    <input type="password" id="password" class="form-control" name="password"/> <br/>
                    <label for="passwordConfirm">Confirm password</label>:
                    <input type="password" id="passwordConfirm" class="form-control" name="passwordConfirm"/> <br/>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
</body>
</html>